<!-- templates/users/add.html -->
<!doctype html>
<html>
<head>
    <title>Add</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Add Message Voice</h1>

    <form method="post" enctype="multipart/form-data" action="{% url 'artalk_base:createMessage' %}">
    <ul>


        <li>userId<input type="text" name="userId"></li>

        <li>Voice<input type="file" name="Voice"></li>

        <li>Text<input type="text" name="text"></li>

        <li>Location:</li>
        <li>Cx<input type="text" name="cx"></li>
        <li>Cy<input type="text" name="cy"></li>

        <li><input type="submit" value="OK"></li>

    </ul>
    </form>
</body>
</html>
