<!DOCTYPE html>
<html lang="en">
<head>
<html>
<head>
    <title>Detail</title>
    <meta charset="utf-8">
</head>
<body>
<ul>
    <li>location: ({{ message.msCx }},{{message.msCy}})</li>
    <li>Type: {{ message.msType }}</li>
    <li>VoicePath: {{ message.msVoice }}</li>
    <li>likeCount: {{ message.msLikeCount }}</li>
    <li><audio controls="controls" autoplay="autoplay" loop="loop">
  <source src="/i/song.ogg" type="audio/ogg" />
  <source src="/media/Voice/{{ message.msVoice }}" type="audio/mpeg" />
Your browser does not support the audio element.
</audio></li>
</ul>

</body>
</html>
