<!DOCTYPE html>
<html lang="en">
<head>
<html>
<head>
    <title>Detail</title>
    <meta charset="utf-8">
</head>
<body>

<ul>
    <li>userID: {{ user.userId }}</li>
    <li>Alias: {{ user.userAlias }}</li>
    <li>Gender: {{ user.userGender }}</li>
    <li>Phone: {{ user.userPhone }}</li>
    <li>avatarPath: {{ user.userAvatar }}</li>
    <li><img width="200" height="300" src="/Edot/avatar/{{ user.userAvatar }}"></li>
</ul>

<ul>
    <li>location: ({{ message.msCx }},{{message.msCy}})</li>
    <li>VoicePath: {{ message.msVoice }}</li>
    <li>likeCount: {{ message.msLikeCount }}</li>
    <li><audio controls="controls" autoplay="autoplay" loop="loop">
  <source src="/i/song.ogg" type="audio/ogg" />
  <source src="/media/Voice/{{ message.msVoice }}" type="audio/mpeg" />
Your browser does not support the audio element.
</audio></li>
</ul>

</body>
</html>
