<!DOCTYPE html>
<html lang="en">
<head>
<html>
<head>
    <title>Detail</title>
    <meta charset="utf-8">
</head>
<body>

<ul>
    <li>userID: {{ user.userId }}</li>
    <li>Alias: {{ user.userAlias }}</li>
    <li>Gender: {{ user.userGender }}</li>
    <li>Phone: {{ user.userPhone }}</li>
    <li>avatarPath: {{ user.userAvatar }}</li>
    <li><img width="200" height="300" src="/Edot/avatar/{{ user.userAvatar }}"></li>
</ul>

<ul>
    <li>videoID: {{ video.videoId }}</li>
    <li>videoGoal: {{ video.videoGoal }}</li>
    <li>videoMusucle: {{ video.videoLocation }}</li>
    <li>videoDifficulty: {{ video.videoDifficulty }}</li>

    <li><img width="200" height="300" src="/Edot/cover/{{ video.videoCover }}"/></li>
    <li>videoInfo: {{ video.videoInfo }}</li>
    <li><video width="200" height="300" src="/Edot/video/{{ video.videoSrc }}"/></li>
</ul>

</body>
</html>
